.sec1{
    height:600px;
}


.sec1 .cent{
    box-shadow: var(--shadow);
}

.profile{
    width:100%;
    height:140px;
    display:flex;
    border-bottom: 1px solid #e2e3e4;
}


.pna{
    height:100%;
    width:500px;
    display:flex;

}


.p{
    width:150px;
    height:100%;
    padding-top:1px;
}


.prof{
    width:100px;
    height:100px;
    border-radius: 100px;
    margin:3px auto;
    box-shadow: var(--shadow);
    background: var(--accent);
    display:flex;
    justify-content: center;
    align-items: center;
}

.prof i{
    font-size:35px;
    color:white;
}



.na{
    width: 310px;
    margin:0 16px;
}


.na h1{
    font-size:18px;
    text-align: left;
    margin:20px 0;
}

.na h4{
    text-align: left;
    margin:10px 12px;
    display:inline-block;
}

.na i{
    color:var(--accent);
    font-size:14px;
    /* margin:0 12px; */
    display:inline-block;
}


.tlc{
    width: 800px;
    height:100%;
    margin:0 20px;
    display:flex;
    padding-top:1px;
}


.t, .l, .c{
    width:150px;
    height:20px;
    margin:70px 40px;
    display:flex;
    align-items: center;
}

.t i, .l i, .c i{
    font-size: 14px;
    color:var(--accent);
    font-size:14px;
    display:inline-block;
}

.t h4, .l h4, .c h4{
    text-align: left;
    margin:0px 10px;
    display:inline-block;
    width:110px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.data{
    width:100%;
    height: 400px;
    margin:16px 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.data_card{
    width:280px;
    height: 160px;
    margin:0px 50px;
    border-radius: 16px;
    box-shadow: var(--shadow);
    position:relative;
}


.data_card h1{
    font-size:18px;
    text-align: center;
    margin:38px 0;
}


.data_card h4{
    text-align: center;
}

.data_card span{
    position:absolute;
    width:100%;
    height:10px;
    background: var(--accent);
    bottom:-30px;
    left:0;
    border-radius: 8px;
}


.buttons{
    width:600px;
    height:80px;
    margin:10px auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
}


.sec2{
    height:200px;
}

.sec3, .sec4{
    height:auto;
    padding-bottom: 26px;
    
}



.sec3 .cent, .sec4 .cent{
   height:auto;
   text-align: center;
}

.chart-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-direction: column;
}


.sec5{
    height:auto;
    min-height:450px;
}


.sec5 .cent{
    height:auto;
    min-height:450px;
    display:flex;
    flex-wrap: wrap;
}


.sec5 .card{
    width:360px;
    height:430px;
    margin:20px 18px;
    box-shadow: var(--shadow);
    padding-top:1px;
    background: var(--accent);
    position:relative;
    border-radius: 8px;
}

.card h4{
    width:100%;
    margin:20px 0;
    text-align:center;
    font-size:18px;
    font-weight:400;
    color:white;
}



.med_box{
    width:300px;
    height:200px;
    margin:18px auto;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

.med_box h4{
    color:black;
    text-transform: uppercase;
    font-weight:600;
}


.card span{
    position:absolute;
    width:80%;
    height:6px;
    background: white;
    bottom:30px;
    left:40px;
    border-radius: 8px;
}










canvas{
    height:200px;
    margin-top:100px;
    animation:fade_in 1s;
}














.edit_overlay, .blood_overlay, .temp_overlay{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background: #0a165073;
    z-index:1000000;
    display:none;
    justify-content: center;
    align-items: center;
    animation: edit .7s;
    transition:.7s;
}

@keyframes edit {
    from{
        opacity:0;
    }

    to{
        opacity:1;
    }
}

@keyframes exit {
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}



.cent button{
    padding:15px 25px;
    border-radius: 12px;
    display:block;
    margin:16px auto;
    font-weight:600;
}

.edit{
    height:600px;
}

.edit .cent{
    height:100%;
    padding-top:1px;
}


.form_cont{
    width:900px;
    height: 450px;
    margin:30px auto;
    padding:20px 16px;
    background: white;
    box-shadow: var(--shadow);
    position:relative;
}

.form_cont h1{
    width:100%;
    text-align: center;
    color:var(--accent);
}

.input{
    margin:30px 0;
    height:55px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.input input{
    width: 250px;
    height:50px;
    margin: 0 50px;
    border-bottom: 1px solid var(--accent);
    padding:16px 0;
}

.form_cont button{
    padding:15px 25px;
    display:block;
    margin:40px auto;
}


.exit{
    width:45px;
    height:45px;
    background: #aa0808d5;
    position:absolute;
    top:-18px;
    right:-18px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor:pointer;
}

.exit:hover{
    background: #750a0a;
}

.exit i{
    color:white;
    font-size:25px;
}

.input label{
    font-weight:600;
    background: var(--accent);
    border-radius:12px;
    color:white;
    cursor:pointer;
    padding:15px 25px;
    display:block;
}

.input label:hover{
    background: var(--accent_hover);
}


.input label:disabled{
    background: #0a16506b;
    cursor:default;
}


.line{
    display:none;
}

.sec3 h1{
    position:relative;
}


.left_btn, .right_btn{
    position:absolute;
    width: 50px;
    height:50px;
    background: var(--accent);
    top:-20px;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:1000;
    border-radius: 100px;
    cursor:pointer;
}



.left_btn{
    left:60px;
    background: var(--disabled);
}

.right_btn{
    right:60px;
}



.left_btn i, .right_btn i{
    color:white;
    font-size: 20px;
}